/***********COLORS********/

/*************************/

/*******IMPORT************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(../../node_modules/swiper/swiper-bundle.css);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.fixed-header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(4, 56, 94, 0.5);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 10px 0;
}

header .header-burger {
  display: none;
}

header .header__main-menu {
  width: 25%;
  max-width: 450px;
  min-width: 395px;
}

header .header__main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__main-menu ul li {
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
  cursor: pointer;
}

header .header__main-menu ul li:hover {
  color: #04385e;
}

.wrapper-main-block {
  position: relative;
  width: 100%;
  min-height: 730px;
  background: url("../img/background.jpg") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wrapper-main-block .main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-main-block .main-block .main-block__img {
  width: 350px;
  height: auto;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  padding-top: 4px;
}

.wrapper-main-block .main-block .main-block__img .main-block__img__container {
  width: 98%;
  height: 95%;
}

.wrapper-main-block .main-block .main-block__img .main-block__img__container picture img {
  width: 100%;
  border-radius: 50%;
}

.wrapper-main-block .main-block .main-block__img:hover {
  border: 1px solid #52edc7;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.wrapper-main-block .main-block .main-block__info {
  padding: 20px 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-main-block .main-block .main-block__info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-main-block .main-block .main-block__info__title h1,
.wrapper-main-block .main-block .main-block__info__title p {
  font-size: 48px;
  color: #fff;
}

.wrapper-main-block .main-block .main-block__info__title h1 {
  font-weight: bold;
}

.wrapper-main-block .main-block .main-block__info__title div {
  color: #fff;
  width: 90%;
  height: 2px;
  margin: 25px 0 20px 0;
  background: #52edc7;
}

.wrapper-main-block .main-block .main-block__info__title p {
  text-align: center;
  text-transform: uppercase;
}

.wrapper-main-block .main-block a {
  display: block;
  margin-top: 40px;
  width: 210px;
  height: 48px;
  color: #fff;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
  cursor: pointer;
}

.wrapper-main-block .main-block a button {
  color: #fff;
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper-main-block .main-block a:hover {
  background: rgba(82, 237, 199, 0.3);
}

.about {
  padding: 50px 0 50px 0;
}

.about h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  color: #2b2b2b;
}

.about__text {
  text-align: center;
  padding: 20px 30px 0 30px;
  max-width: 770px;
  min-width: 200px;
  margin: 0 auto;
}

.wrapper-skills {
  padding: 50px 0 40px 0;
  background: #43c1b3;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.wrapper-skills .skills {
  max-width: 900px;
}

.wrapper-skills .skills h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  color: #fff;
}

.wrapper-skills .skills__progres-icon {
  font-family: Tahoma, Geneva, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper-skills .skills__progres-icon .skills__progres-icon__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-skills .skills__progres-icon .skills__progres-icon__icons h2 {
  font-weight: bold;
  color: #fff;
  margin: 30px 0 15px 0;
}

.wrapper-skills .skills__progres-icon .bg-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper-skills .skills__progres-icon .bg-style .counter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  width: 120px;
  height: 120px;
  max-width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: 500;
  -webkit-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
  background: #d4fffa;
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
}

.wrapper-skills .skills__progres-icon .bg-style .counter span {
  font-size: 18px;
  color: #04385e;
}

.wrapper-skills .skills__progres-icon .bg-style .percentage {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  vertical-align: middle;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.wrapper-skills .skills__progres-icon .bg-style canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.services {
  padding: 50px 0 50px 0;
  color: #2b2b2b;
}

.services h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.services__container {
  padding: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__container__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28%;
  min-width: 240px;
}

.services__container__block svg {
  width: 120px;
  height: 120px;
}

.services__container__block h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 25px 0 20px 0;
}

.services__container__block p {
  text-align: justify;
}

.swiper-container {
  width: 89%;
  margin: 50px auto 30px auto;
}

.swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.swiper-container .swiper-wrapper .swiper-slide picture {
  width: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide picture img {
  width: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 120px;
  width: 100%;
  background: rgba(67, 193, 179, 0.6);
  color: #fff;
  bottom: 1px;
  left: 0%;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.swiper-container .swiper-wrapper .swiper-slide__info h3 {
  width: 85%;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: Tahoma, Geneva, sans-serif;
}

.swiper-container .swiper-wrapper .swiper-slide__info__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.swiper-container .swiper-wrapper .swiper-slide__info__navigation a {
  max-width: 214px;
  width: 44.21%;
  height: 38px;
  border: 2px solid #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
  font-family: Tahoma, Geneva, sans-serif;
}

.swiper-container .swiper-wrapper .swiper-slide__info__navigation a:hover {
  background: rgba(82, 237, 199, 0.3);
}

.swiper-container .swiper-wrapper .swiper-slide__info ._design a {
  margin: 0 auto;
}

.swiper-container .swiper-wrapper .swiper-slide:hover .swiper-slide__info {
  opacity: 1;
}

.swiper-container .swiper-scrollbar {
  bottom: 0px;
  z-index: 100;
  width: 100%;
  left: 0;
  background: #7abdec;
}

.swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
  background: #0669ac;
}

.portfolio-wrapper {
  background: #43c1b3;
  padding: 50px 0 25px 0;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}

.portfolio-wrapper .portfolio h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  color: #fff;
}

.wrapper-footer {
  width: 100%;
  min-height: 60px;
  background: url(../img/footer.jpg);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px 0 0 0;
}

.wrapper-footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Tahoma, Geneva, sans-serif;
}

.wrapper-footer .footer .footer__contacts {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-footer .footer .footer__contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.wrapper-footer .footer .footer__contacts a svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.wrapper-footer .footer .footer__contacts a span {
  padding-left: 15px;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.wrapper-footer .footer .footer__contacts a:hover svg {
  fill: #04385e;
}

.wrapper-footer .footer .footer__contacts a:hover span {
  color: #04385e;
}

.wrapper-footer .footer .footer__links ul {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-footer .footer .footer__links ul li a svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.wrapper-footer .footer .footer__links ul li a svg:hover {
  fill: #04385e;
}

/***************************/

body h1,
body h2,
body p,
body li {
  font-family: Tahoma, Geneva, sans-serif;
}

._container,
.wrapper-main-block {
  min-width: 260px;
}

._container {
  width: calc(100% - 120px);
  max-width: 1920px;
  margin: 0 auto;
}

._logo {
  cursor: pointer;
}

._logo svg {
  width: 135px;
  height: 45px;
  fill: #fff;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

._logo svg:hover {
  fill: #04385e;
}

._links {
  position: absolute;
  bottom: 20px;
}

._links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

._links__list li a svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

._links__list li a svg:hover {
  fill: #04385e;
}

._subtitle {
  position: relative;
}

._subtitle__person,
._subtitle__skills,
._subtitle__services,
._subtitle__porfolio {
  width: 250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._subtitle__person svg,
._subtitle__skills svg,
._subtitle__services svg,
._subtitle__porfolio svg {
  width: 25px;
  height: 25px;
}

._subtitle__person,
._subtitle__services {
  fill: #2b2b2b;
}

._subtitle__skills svg,
._subtitle__porfolio svg {
  fill: #fff;
}

._subtitle__person:after,
._subtitle__person:before,
._subtitle__skills:after,
._subtitle__skills:before,
._subtitle__services:after,
._subtitle__services:before,
._subtitle__porfolio:after,
._subtitle__porfolio:before {
  content: '';
  display: block;
  position: relative;
  width: 80px;
  height: 1px;
  top: 12px;
}

._subtitle__person:after,
._subtitle__person:before,
._subtitle__services:after,
._subtitle__services:before {
  background: #2b2b2b;
}

._subtitle__skills:after,
._subtitle__skills:before,
._subtitle__porfolio:after,
._subtitle__porfolio:before {
  background: #fff;
}

._subtitle__person:after,
._subtitle__skills:after,
._subtitle__services:after,
._subtitle__porfolio:after {
  right: -15px;
}

._subtitle__person:before,
._subtitle__skills:before,
._subtitle__services:before,
._subtitle__porfolio:before {
  left: -15px;
}

@media (max-width: 1000px) {
  .wrapper-main-block .main-block .main-block__img {
    width: 250px;
    height: 250px;
  }

  .wrapper-main-block .main-block .main-block__info {
    padding: 10px 0 0 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .wrapper-main-block .main-block .main-block__info__title h1,
  .wrapper-main-block .main-block .main-block__info__title p {
    font-size: 36px;
  }
}

@media (max-width: 920px) {
  .portfolio-wrapper .portfolio .portfolio__container {
    padding: 25px 40px;
  }

  .portfolio-wrapper .portfolio .portfolio__container a {
    width: 100%;
    max-width: 900px;
    min-width: 260px;
    height: 100%;
    max-height: 460px;
    min-height: 100px;
  }

  .portfolio-wrapper .portfolio .portfolio__container a .portfolio__container__block {
    padding: 15% 0 0 0;
  }

  .portfolio-wrapper .portfolio .portfolio__container a picture img {
    min-height: 100px;
    height: auto;
  }

  .wrapper-footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper-footer .footer .footer__contacts {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapper-footer .footer .footer__contacts a:first-child {
    margin: 20px 0 15px 0;
  }

  .wrapper-footer .footer .footer__links {
    margin: 20px 0 25px 0;
  }

  .wrapper-footer .footer .footer__links ul {
    width: auto;
    min-width: 200px;
  }
}

@media (max-width: 750px) {
  header .header-burger {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 25%;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s;
  }

  header .header-burger div {
    width: 60%;
    top: 15px;
    left: 6px;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s;
  }

  header .header-burger div,
  header .header-burger div:after,
  header .header-burger div:before {
    content: '';
    position: absolute;
    height: 1px;
    background: #fff;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s;
  }

  header .header-burger div:after {
    top: 7px;
    left: 0px;
    width: 100%;
  }

  header .header-burger div:before {
    top: -7px;
    left: 0px;
    width: 100%;
  }

  header .icon-active {
    z-index: 99;
    border: none;
  }

  header .icon-active div {
    height: 0;
  }

  header .icon-active div:after {
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  header .icon-active div:before {
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }

  header .header__main-menu {
    min-width: 240px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -395px;
    -webkit-transition: all ease-in .6s;
    -o-transition: all ease-in .6s;
    transition: all ease-in .6s;
  }

  header .header__main-menu ul {
    padding: 80px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  header .header__main-menu ul li {
    text-align: center;
    padding: 0 0 10px 0;
    margin: 10px 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  header .header__main-menu ul li:hover {
    border-bottom: 1px solid #04385e;
  }

  header .menu-active,
  header .menu-active:before {
    height: 100vh;
    background: #5ebcc8;
    top: 0;
    right: 0;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s;
  }

  header .menu-active:after {
    z-index: -5;
    content: '';
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  .wrapper-main-block .main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapper-main-block .main-block .main-block__img {
    width: 250px;
    height: 250px;
  }

  .wrapper-main-block .main-block .main-block__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .wrapper-skills .skills__progres-icon {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper-skills .skills__progres-icon .skills__progres-icon__icons {
    margin: 0 8% 0 8%;
  }

  .wrapper-skills .skills__progres-icon .skills__progres-icon__icons h2 {
    margin: 20px 0 10px 0;
  }

  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__container__block {
    margin: 0 auto 50px auto;
  }

  .services__container__block svg {
    width: 240px;
    height: 240px;
  }

  .services__container__block h2 {
    margin: 25px 0 15px 0;
  }
}

@media (max-width: 530px) {
  .wrapper-main-block {
    min-height: 568px;
  }

  .wrapper-main-block .main-block .main-block__img {
    width: 200px;
    height: 200px;
  }

  .wrapper-main-block .main-block .main-block__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 0 0 0;
  }

  .wrapper-main-block .main-block .main-block__info__title h1,
  .wrapper-main-block .main-block .main-block__info__title p {
    font-size: 24px;
  }

  .wrapper-main-block .main-block .main-block__info__title div {
    margin: 15px 0 10px 0;
  }

  .about__text {
    padding: 20px 10px 0 10px;
  }
}

@media (max-width: 415px) {
  header .menu-active,
  header .menu-active:before {
    width: 100%;
    right: 0;
  }

  header .menu-active:after {
    display: none;
  }
}

.webp .wrapper-main-block{ background: url(../img/background.webp) center no-repeat; }

.webp .wrapper-footer{ background: url(../img/footer.webp); }